<div class="container text-center">

  <h1>Joie j'ai réussi</h1>
    <p> voici les réussites de la journée du <%= @today %> :
      <ul><% @reussites.each do |reussite|%>
          <li><%= reussite %></li>
          <% end -%>
      </ul>


    <p>

</div>
